*{
	
	box-sizing: border-box;
}
ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
a:hover{
	text-decoration: none;
}

body{
	margin: 0;
	padding: 0;
	justify-content: center;
	align-self: center;
	min-height: 100vh;
	font-family: "Raleway",sans-serif;
	color: #333;
	background-color: #F9F9F9;

}
/* heaser-section css */

.header-section{
	box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	z-index: 3;
	background-color: #fff;
	
}
.header-top{
	background-color: #F3F3F3;
}

.header-top ul li{

	display: inline-block;
	margin-left: 15px;
}
.header-top ul li a{
	color: #505050;
	transition: .4s;
	padding: 11px 0;
	display: inline-block;
	font-size: 14px;
}
.header-top ul li a:hover{
	color: #23527c;
}

.header-bottom{
	background: #fff;
	
}

/* track-alert css */
.alert {
	position: absolute !important;
	z-index: 999;
	left: 50%;
	transform: translateX(-50%);
	top: -220px;
	visibility: hidden;
	transition: .5s;
}
.alert1{
	top:-15px;
	visibility: visible;
}

.track-alert{

	border: 3px solid #FF9400;
}
.track-alert h4{

	font-size: 22px;
	font-weight: bold;
}
.track-alert .alrt-btn{

	font-weight: bold;
	cursor: pointer;
}
.track-alert form{

	border-top: 2px solid #ddd;
}
.track-alert form input{

}
.track-alert form .btn{

	background: #FF9400;
	border: none;
	font-size: 14px;
	font-weight: 700;
}
.header-search .search-box form .form-control:focus {
	box-shadow: none;
}
.header-search .search-box form input{

	margin-top: 9px;
	border: 2px solid #FF9400;
	position: relative;
}
.header-search .search-box form input::placeholder{
	font-size: 14px;
}
.header-search .search-box .fa-search{

	color: #fff;
	background: #FF9400;
	padding: 9px 17px;
	position: absolute;
	border-radius: 0 5px 5px 0;
	top: 10px;
	right: 14px;
	font-size: 20px;
}
.header-bottom .hb-btn{

	color: #fff;
	background: #FF9400;
	font-size: 14px;
	font-weight: 700;
	padding: 12px 10px;
	display: inline-block;
	margin-top: 9px;
}

/* menu bar csss */

.header-nav .navbar-brand{
	
	font-size: 13px;
	font-weight: 700;
	color: #fff !important;
	background: #FF9400;
	padding: 9px 17px;
	border-radius: 5px;
	margin-right: 3px;
}

.header-nav .nav-link{
	
	color: #000000 !important;
	font-weight: 700;
	font-size: 13px;
	padding: 30px 0;
	position: relative;
}
.header-nav .nav-link::before{
	content: '';
	height: 0;
	width: 0;
	border-top: 0px;
	border-right: 8px solid transparent; 
	border-bottom: 8px solid #FF9400; 
	border-left:8px solid transparent; 
	position: absolute;
	display: block;
	top: 84%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	visibility: hidden;
}
.header-nav .nav-item:hover .nav-link::before{
	opacity: 1;
	visibility: visible;
}
.dropdown{
	position: absolute;
	width: 100%;
	left: 0;
	height: auto;
	margin-top: -5px;
	opacity: 0;
	visibility: hidden;
	transition: .2s;
	z-index: 1;
}

.dropdown .dropdown-area{

	background: #fff;
	border-top: 5px solid #FF9400;
	padding: 0px 20px;
	border-radius: 5px;
	width: 100%;
}
.nav-item:hover .dropdown{
	opacity: 1;
	visibility: visible;
}
.dropdown .dropdown-itm{

	display: inline-block;
	padding: 8px 15px;
	width: 100%;
	transition: .4s;
	color: #313030;
	font-size: 15px;
	font-weight: 500;

}
.dropdown .dropdown-itm:hover{

	padding-left:25px;
	background: #FF9400;
	color: #fff;
	
}


/* Detail-Product-Item-section css */
.Detail-Product-Item-section .dpi-area{
	background-color: #fff;
	border:1px solid #ffe6c4;
}
.dpi-title{
	background-color: #ffe6c4;
	padding: 10px 15px;
}
.dpi-title h4{
	margin: 0;
	font-size: 22px;
	font-weight: bold;
	color: #525252;
}
.dpi-img #etalage{
	margin-bottom: 0;
}
.dpi-img #etalage .etalage_small_thumbs li .etalage_small_thumb{
	height: 80px !important;
	width: 80px !important;
}


.dpi-order-box {
	width: 90%;
	border: 1px solid #07ab9c;
	padding: 15px;
}
.order-count{

}
.order-count .nice-number{

	border: 1px solid #07ab9c; 
}
.order-count .nice-number button{

	width: 45px;
	background: transparent;
	border: none;
	font-size: 30px;
	font-weight: bold;
	vertical-align: middle;
	line-height: 0px;
	color: #FF9400;
}
.order-count .nice-number input{

	width: 45px !important;
	border: none;
	border-left: 1px solid #07ab9c;
	border-right: 1px solid #07ab9c;
	font-size: 23px;
	font-weight: bold;
	color: #7a7474;
}
.order-bnt{
	text-align: center;
}
.order-bnt .order-now {
	display: block;
	background: orangered;
	width: 95% !important;
	margin: 0 auto;
	padding: 7px 0;
	border-radius: 5px;
	color: #fff;
	font-size: 20px;
}
.order-bnt .add-cart{
	display: block;
	background: #FF9400;
	width: 95% !important;
	margin: 0 auto;
	padding: 7px 0;
	border-radius: 5px;
	color: #fff;
	font-size: 20px;
}

.order-contact img{

	height: 100px;
}
.order-contact strong{

	font-size: 25px;
}

/* Product-details-section css */

.pd-area{
	background-color: #fff;
	border:1px solid #ffe6c4;
}
.Pd-title{
	background-color: #ffe6c4;
	padding: 10px 15px;
	
}
.Pd-title h4{
	margin: 0;
	font-size: 22px;
	font-weight: bold;
	color: #525252;
}
.Pd-content ul{

	margin-left: 50px;
	padding: 20px 0;
}
.Pd-content ul li{

	list-style: disc;
	font-size: 14px;
}
/* Product-Payment-section css */
.pp-content-area{
	background-color: #fff;
	border:1px solid #ffe6c4;
}
.pp-content ul li{
	margin-bottom: 10px;
	font-size: 14px;
	
}
.pp-content-area .fa{
	color: #2a91ad !important;
	margin-right: 2px;
}

/* Similar-Product-section css */
.product-are{
	border:1px solid #ffe6c4;
}
.all-product {
	padding: 5px 10px 0px 10px;
	background: #f9f9f9;
}
.product {
	border: 1px solid #000;
	height: auto;
	overflow: hidden;
}
.product-item{
	height: 200px;
}
.product-item img{
	height: 170px;
	width: 100%;
}
.product-cost{
	background-color: cornsilk;
}
.product-cost .product-name {
	font-size: 12px;
	color: #525252;
	font-weight: 700;
}
.product-cost .product-rate{
	color: #355088;
	font-weight: 700;
}
.order-btn .Order-Now {
	background: #ff6a00;
	display: block;
	padding: 7px 0;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	width: 50%;

}
.order-btn .Add-Cart {
	background: #FF9400;
	display: block;
	padding: 7px 0;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	width: 50%;

}




/* Footer-section css */

.Footer-section{
	background-color: #fff;
}

.ftl-content span {
	color: #000;
	font-size: 25px;
	font-weight: 700;
}
.ftl-content address {
	color: #666;
	font-size: 12px;
	margin-top: 10px;
	font-weight: 700;
}

.ftl-btn ul{
	display: flex;
}

.ftl-btn ul li a{

	width: 50px;
	height: 50PX;
	display: block;
	text-align: center;
	margin-right: 15PX;
	border-radius: 50%;
	padding: 6px;
	box-sizing: border-box;
	text-decoration: none;
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
	background: linear-gradient(0deg, #ddd, #fff);
	transition: .5s;

}
.ftl-btn ul li a:hover{
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.ftl-btn ul li a i{
	widht: 100%;
	height: 100%;
	display: block;
	background: linear-gradient(0deg, #fff, #ddd);
	border-radius: 50%;
	line-height: calc(60px - 12px);
	font-size: 18px;
	color: #262626;
	transition: .5s;

}
.ftl-btn ul li a:hover .fa-facebook{
	color: #3b5998;
}
.ftl-btn ul li a:hover .fa-twitter{
	color: #00aced;
}
.ftl-btn ul li a:hover .fa-google-plus{
	color: #dd4b39;
}
.ftl-btn ul li a:hover .fa-instagram{
	color: #007bb6;
}

.ft-middle h4 {
	font-size: 18px;
	font-weight: 700;
}
.ft-middle ul{

}
.ft-middle ul li{

	padding: 5px 0;
}
.ft-middle ul li a{
	
	color: #505050;
	font-size: 14px;
	transition: .4s;
}
.ft-middle ul li a:hover{
	color: #00aced;
}

.footer-top-right h4{
	font-size: 18px;
	font-weight: 700;
}
.footer-top-right span{
	display: block;
	margin-bottom: 15px;
}
.footer-top-right span a{
	color: #505050;
	font-size: 14px;
}
.footer-top-right input {
	width: 45%;
	padding: 8px 10px;
	border: 0;
	background: #F3F3F3;
}
.footer-top-right input::placeholder{
	font-size: 14px;
}
.footer-top-right .submit-btn {
	background: #F48E00;
	color: #000;
	display: inline-block;
	padding: 6px 0;
	font-size: 14px;
	width: 45%;
	text-align: center;
	border-radius: 5px;
	margin-left: 5%;
}

.footer-middle-left .fml-left h4{
	font-size: 18px;
	font-weight: 700;
}
.footer-middle-left .fml-right h4{
	font-size: 18px;
	font-weight: 700;
}
.footer-middle-right h4{
	font-size: 18px;
	font-weight: 700;
}
.footer-bottom p{
	font-size: 14px;
	font-weight: 700;
	color: #666;
	text-align: center;
}